# Database Configuration  
MYSQL_ROOT_PASSWORD=your-mysql-root-password  
MYSQL_DATABASE=LibraryManagement  
MYSQL_USER=root  
MYSQL_PASSWORD=your-mysql-password  
  
# Port Configuration  
DB_PORT=3306  
API_PORT=5192  
FRONTEND_PORT=3000  
  
# Docker Configuration  
COMPOSE_PROJECT_NAME=lector-library 
